<!--HOLA NICK COMENTE EL CODIGO DEL GATO PARA QUE LOS VEAS */-->
<div class="row">
  <div class="col-3">
    <div class="menu-left">
      <h3 class="text-center" id="h3-user" tabindex="0" >BIENVENIDO</h3>
      <h3 class="text-center" id="name-user">Name User</h3>

      <div class="d-grid gap-2 text-center" id="lista-botones">
          <a class="Button" routerLink="/usuario/billetera" href="#">DATOS PERSONALES</a>
          <a class="Button" routerLink="/usuario/billetera" href="#">WALLET</a>
          <a class="Button" routerLink="/usuario/billetera" href="#">PREDICCIONES</a>
          <a class="Button" routerLink="/usuario/historial" href="#">HISTORIAL</a>
          <a class="Button" routerLink="/usuario/billetera" href="#">NOTAS</a>
          <a class="Button" routerLink="/usuario/billetera" href="#">LISTA DE COTIZACIONES</a>
          <a class="Button" routerLink="/usuario/billetera" href="#">AYUDA</a>
      </div>
    </div>
  </div>
  <div class="col-9">
    <!-- <router-outlet name="child"></router-outlet> -->
    <router-outlet></router-outlet>
  </div>
</div>