.bg-dark{
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
    font-weight: 400;
    color: var(--light);
    background-color: var(--dark) !important;
    margin: 0%;
    max-height: 600px;
}
.carousel {
    height: 575px;
  }
.bg-dark-x{
    background-color: var(--dark-x);
    color: #ffffff;
}
.form-control, .btn{
    min-height: 3.125rem;
    line-height: initial;
}
.img{
    background-size: cover;
    background-position: center;
}
.img-1{
    background-image: url(../../../../assets/img/carrusel/moneda.jpg);
    background-size:cover;
    background-position: center;
}
.img-2{
    background-image: url(../../../../assets/img/carrusel/moneda2.jpg);
    background-size:cover;
    background-position: center;
}
.img-3{
    background-image: url(../../../../assets/img/carrusel/moneda3.jpg);
    background-size:cover;
    background-position: center;
}
.logo{
    margin-top: 0%;
    margin-bottom: 0%;
}
.logo img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.formulario{
    margin-top: -50px;
    margin-bottom: 0%;
}
.pie{
    color:#c4c4c4;
}