<!-- titulo -->
<header>
    <div class="contenedor">
        <div class="row">
            <div class="col-lg-7">
                <img src="../../../../assets/img/logos/logo.png" class="img-fluid" alt="Banner Responsive" height="40">
            </div>
            <div class="banner-right col-lg-5">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="cajafuerte" src="../../../../assets/img/caja-fuerte.png" alt="">
                    </div>
                    <div id="text" class="col-sm-8">
                        <h1 id="parrafo" class="text-white">¿Buscas invertir y triunfar en los negocios virtuales?</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- fin del titulo  -->

<!-- subtitulo -->
<div class="parrafo">
    <h3>Sitio web destinado a la compra y venta de criptomonedas</h3>
</div>
<!-- fin subtitulo -->

<!-- columnitas -->
<div class="container-fluid">
    <div class="card-group">
        <div class="card text-white bg-secondary">
            <!-- <div class="card-header">hola</div> -->
            <img src="../../../../assets/img/cambiomonedas.jpg" class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla rem placeat ex
                    cupiditate blanditiis inventore illum voluptates, ullam vel quia ipsa quo? Quod molestiae provident
                    vero tempore repudiandae quidem officiis..</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card text-dark bg-light">
            <img src="../../../../assets/img/grupo.jpg" class="card-img-top" alt="cards-images">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card text-white bg-secondary">
            <img src="../../../../assets/img/dardo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<!-- fin d elas columnitas -->
<hr>