<div class="col-12">
    <div class="Tabla-Crypto">
        <h3>Billetera</h3>
        <h4>$ 1234567,123</h4>
            <a href="#" class="boton"> Depositar </a>
            <a href="#" class="boton"> Comprar </a>
            <a href="#" class="boton"> Transferir </a>
    </div>
    <div class="Billetera">
        <h2>Todas Mis Cryptomonedas</h2>

        <table class="table">
    
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Nombre</th>
                <th scope="col">Opciones</th>

                
              </tr>
            </thead>
            <tbody >
              <tr>
                <th><img src="../../assets/dashboard/404-gato.png"  class="rounded-circle" style="width: 4rem;"></th>
                <td><h3>Usted no Posee ninguna moneda!</h3></td>
                <td> <a href="#" class="boton text-center" > Comprar </a></td>

              </tr>
              <tr>
            </tbody>
          </table>

          <table class="table">
    
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Nombre</th>
                <th scope="col">Valor</th>
                <th scope="col">Opciones</th>

                
              </tr>
            </thead>
            <tbody >
              <tr>
                <th><img src="../../assets/dashboard/404-gato.png"  class="rounded-circle" style="width: 4rem;"></th>
                <td><h3>Crypoto gato</h3></td>
                <td><h3>$0,00000001</h3></td>
                <td> <a href="#" class="boton"> Depositar </a>
                    <a href="#" class="boton"> Comprar </a>
                    <a href="#" class="boton"> Transferir </a>
                </td>

              </tr>
              <tr>
            </tbody>
          </table>
    </div>
</div>
  