<div id="logo-cripoCat">
    <div class="menu">
        <select name="cars" id="cars">
            <option value="volvo"><a href="#" routerLink="/login">Login</a></option>
            https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-1/menubar-1.html#
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
    </div>
    <div class="logo-imagen">
        <img src="../../../assets/img/logos/logo-cat.jpg" width="100px" height="100px" alt="logo">
    </div>
</div>
