.Tabla-transferencia {
    margin: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin: 20px;
    margin-top: 25px;
    padding-top: 40px;
    height: 745px;
}

.title {
    margin-left: 10%;
    margin-top: 30px;
    text-decoration: underline;
}

.tabla-contenedor {
    width: auto;
    margin-left: 10%;
    margin-right: 10%px;
    margin-top: 10px;
}

.Tabla-transferencia,
tr,
td {
    padding: 30px;
}

.link-tranferencia {
    font-size: 20px;
}

.circulo {
    visibility: hidden;
}

.listado-crypto {
    width: auto;
    height: 300px;
    overflow: auto;
}

.lista:hover {
    background-color: rgb(122, 120, 120)
}

.pesos {
    width: auto;
    height: auto;
    width: 250px;
    font-size: 20px;
    padding: 3px;
    border-radius: 15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}