<!--buscador-->
<app-nav-bar></app-nav-bar>
<!-- fin del buscador -->
<main>
    <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
<!--<table>
    <thead>
        <tr>
            <td><span>Imagen</span></td>
            <td><span>Nombre</span></td>
            <td><span>Simbolo</span></td>
            <td><span>Precio </span></td>
            <td><span>Precio Cambio</span></td>
            <td><span>Ultima Actualizacion</span></td>
    </tr>
    </thead>
    <tr *ngFor="let coin of coins">
    <td><img [src]="coin.image" alt=""></td>
    <td><span>{{coin.name}}</span></td>
    <td> <span>{{coin.symbol}}</span></td>
    <td> <span>{{coin.current_price}}</span></td>
    <td> <span>{{coin.price_change_percentage_24h}}</span></td>
    <td> <span>{{coin.last_updated}}</span></td>
    </tr>
</table> -->