<section class="table-section">
  <div class="container-table">
    <div class="title">MOVIMIENTOS</div>
    <div class="table-header">OPERACION</div>
    <div class="table-header">MONTO</div>
    <div class="table-header">FECHA</div>
    <div class="table-item">COMPRA</div>
    <div class="table-item">12</div>
    <div class="table-item">las lomas</div>
    <div class="table-item">VENTA</div>
    <div class="table-item">45</div>
    <div class="table-item">las juntas</div>
    <div class="table-item">COMPRA</div>
    <div class="table-item">89</div>
    <div class="table-item">la puerta</div>
  </div><br>
</section>