.card-body , .card{
    border-radius: 50px !important;
    background-color: #16191c !important;
}

h1{
    font-size: 1.9rem;
    text-align: center;
    text-transform: uppercase;
}
.title-info>p{
    font-size: 18px;
    text-align: center;
}

.form-control{
    background-color: var(--dark-x) !important;
    color: #ffffff !important;
    border: 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.menssage-alert{
    position: relative;
}
.menssage-alert>small{
    position: absolute;
    top: -5px;
}

div[class="form-outline datepicker"]{
    position: relative;
}

label[for="cumpleanios"]{
    position: absolute;
    left: 90px;
    top: 7px
}

@media (min-width: 768px) {
    .botones-submit{
        text-align: center;
    }
}

.btn-dark{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 0px 15px 0px 15px
}

#boton-registrar{
    background-color: var(--valid) !important;
    transition:  background-color 2s;
}
#boton-registrar:hover, #boton-registrar:focus{
    background-color: green !important;
    transition: border-color .5s;
}
#boton-registrar[disabled]{
    background-color: var(--invalid) !important;
}

/* status class */
.ng-valid[required], .ng-valid:not(form)  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
  
.form-group {
    margin-bottom: 1rem;
}
  
label {
    display: block;
    margin-bottom: .5rem;
}
/* status class fin*/