.card{
    border-radius: 50px;
}

h1{
    font-size: 1.9rem;
    text-align: center;
    text-transform: uppercase;
}
.card-body>p{
    font-size: 18px;
    text-align: center;
}

input{
    border-color: rgb(14, 14, 14);
}

div[class="form-outline datepicker"]{
    position: relative;
}

label[for="cumpleanios"]{
    position: absolute;
    left: 90px;
    top: 7px
}

@media (min-width: 768px) {
    .botones-submit{
        text-align: center;
    }
}

.btn-dark{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 0px 15px 0px 15px;
}