<section class="intro">
  <div class="mask d-flex align-items-center h-100 gradient-custom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card mt-5 mb-5">
            <div class="card-body p-4 p-md-5">
              <h1 class="mb-0">Registro</h1>
              <p class="mb-0">Por favor complete los siguientes datos</p>
              <p class="mb-4 pb-2">*datos obligatorios</p>
              <form (ngSubmit)="agregarUsuario()" [formGroup]="formRegistracion">
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input formControlName="name"
                        type="text" 
                        id="nombre" 
                        placeholder="Nombre" 
                        class="form-control" 
                        name="nombre"
                      />
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input formControlName="lastName"
                        type="text" 
                        id="apellido" 
                        placeholder="Apellido" 
                        class="form-control"
                        name="apellido"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mb-4">
                    <div class="form-outline">
                      <input formControlName="password"
                        type="password" 
                        id="password" 
                        placeholder="Contraseña" 
                        class="form-control"
                        name="contrasena"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mb-4">
                    <div class="form-outline">
                      <input formControlName="passwordRepeat"
                        type="password" 
                        id="passwordRepeat" 
                        placeholder="Repetir contraseña" 
                        class="form-control"
                        name="contrasenaRepetir"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mb-4">
                    <div class="form-outline datepicker">
                      <label for="cumpleanios" class="form-label">Cumpleaños</label>
                      <input formControlName="birthday"
                        type="date"
                        class="form-control"
                        id="cumpleanios"
                        name="birthday"
                        [max]="dateToday"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mb-4">
                    <div class="form-outline">
                      <input formControlName="email"
                        type="email" 
                        id="emailAddress" 
                        class="form-control" 
                        name="email"
                        placeholder="E-mail"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mb-4">
                    <div class="form-outline">
                      <input formControlName="dni"
                        type="number" 
                        id="dniDocument" 
                        class="form-control" 
                        name="documento"
                        placeholder="Documento"
                      />
                    </div>
                  </div>
                </div>
                <p>Cumpleaños: {{formRegistracion.get('birthday')?.value | json}} </p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="mt-4 botones-submit">
                      <button class="btn btn-dark btn-lg" routerLink="/home">Volver</button>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mt-4 botones-submit">
                      <button [disabled]="formRegistracion.invalid" class="btn btn-dark btn-lg" type="submit">Registrase</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>