.card{
    border-radius: 50px;
}

h1{
    font-size: 1.9rem;
    text-align: center;
    text-transform: uppercase;
}
.card-body>p{
    font-size: 18px;
    text-align: center;
}

input{
    border-color: rgb(14, 14, 14);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

div[class="form-outline datepicker"]{
    position: relative;
}

label[for="cumpleanios"]{
    position: absolute;
    left: 90px;
    top: 7px
}

@media (min-width: 768px) {
    .botones-submit{
        text-align: center;
    }
}

.btn-dark{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 0px 15px 0px 15px;
}

/* status class */
.ng-valid[required], .ng-valid  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
  
.alert div {
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    margin-bottom: 1rem;
}
  
.form-group {
    margin-bottom: 1rem;
}
  
label {
    display: block;
    margin-bottom: .5rem;
}
  
select {
    width: 100%;
    padding: .5rem;
}
/* status class fin*/