<div class="col-12">
  <div class="Tabla-compra">
    <h4 class="title">Selecione la Moneda que Desea Vender</h4>

    <form >
      <table class="tabla-contenedor">
        <tr>
          <td>
            <nav class="navbar navbar-expand seleccionar">
              <a class="nav-link dropdown-toggle link-compra" 
              href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">
                Selecione la moneda en su Billetera</a>
              <ul  class="dropdown-menu listado-crypto" aria-labelledby="dropdown03">
                
                <li *ngFor="let billetera of billeteras" (click)="cambiar(billetera.monto_dinero, billetera.moneda?.tipo)" class="lista">
                  <input class="circulo" type="radio"
                    value={{billetera.id_moneda}} 
                    name="select"
                    [(ngModel)]="Selected" > 
                  <label>
                    {{billetera.moneda?.tipo}}
                    <span>{{billetera.monto_dinero}}</span>
                  </label>
                </li>
              </ul> 
            </nav>
          </td>
        </tr>
        <tr *ngIf="!!Selected; then mostrarprecio else haceEsto">
        </tr>
        <ng-template #haceEsto >
          <h4 class="mensaje-ayuda">Selecione una moneda arriba.</h4>
        </ng-template>
        <ng-template #mostrarprecio >
          
          <h4 class="">Precio de Cada Cripto en Pesos:  {{precio_Crypto_Conturrent}} <img src="{{imagen}}" class="rounded-circle" style="width: 2rem;"></h4>
        </ng-template>
        <tr>
          <td>
              <label>Cantidad que desea Vender:  <b>  0 </b></label>
              <input  name="state" type="range" [(ngModel)]="myValue" 
                (change)="getSliderValue($event)" 
                id="formControlRange" value="0" min="0"  max='{{valorCantidadDeMonedas}}' step="0.000000001"   />
              <label >{{valorCantidadDeMonedas}}</label>    
          </td>
        </tr>
        <tr>

          <td> 
            <span>Cantidad de Cryptos</span></td>
            <td> 
            <input class="pesos" type="number" name="cantidadPesos" disabled
            [(ngModel)]="myValue"
            >
          </td>
        </tr>
        <tr>
          <td> 
              <span>Total valor en pesos</span></td>
          <td>  
            <input class="pesos" type="number" name="cantidadCrito" disabled
              [(ngModel)]="Total"
              >
              
          </td>
        </tr>
        <tr>
          
          <td> <a class="btn btn-dark btn-lg" routerLink="/usuario/billetera"> Volver </a></td>
          <td><button (click)="enviarVenta()" type="submit" class="btn btn-dark btn-lg">Vender</button></td>
        </tr>
      </table>
    </form>
  </div>
</div>
