<div class="col-12">
  <div class="Tabla-compra">
    <h4 class="title">Selecione la Moneda que Desea Vender</h4>

    <form>
      <table class="tabla-contenedor">
        <tr>
          <td>
            <nav class="navbar navbar-expand seleccionar">
              <a class="nav-link dropdown-toggle link-compra" 
              href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">
                Selecione la moneda en su Billetera</a>
              <ul  class="dropdown-menu listado-crypto" aria-labelledby="dropdown03">
                <li class="lista">
                  <input class="circulo" type="radio" 
                    name="select"
                    value=5
                    [(ngModel)]="Selected" 

                  >
                  <label (click)="cambiar(5, 0.11)" > <!-- Dogue -->
                    <img src="../../../assets/dashboard/404-gato.png" class="rounded-circle" style="width: 2rem;">
                    Dogue Coin <span >Cantidad 5</span> 
                  </label>
                </li>
                <!-- ejemplo 2 -->
                <li class="lista">
                  <input class="circulo" type="radio" 
                    name="select"
                    
                    [(ngModel)]="Selected" 
                    value=1000

                  >
                  <label (click)="cambiar(10, 1.23)" ><!-- Usd Coin -->
                    <img src="../../../assets/dashboard/404-gato.png" class="rounded-circle" style="width: 2rem;">
                    Usd Coin  <span >Cantidad 10</span> 
                  </label>
                </li>
              </ul>
            </nav>
          </td>
        </tr>
        <tr *ngIf="!!Selected; else haceEsto">
          <td>
            <img class="rounded-circle" style="width: 3rem;">
          </td>
        </tr>
        <ng-template #haceEsto >
          <h4 class="mensaje-ayuda">Selecione una moneda arriba.</h4>
        </ng-template>
        <tr>
          <td> 
            <span>Cantidad de Cryptos</span>
            <input class="pesos" type="number" name="cantidadPesos" disabled
            [(ngModel)]="valor"
            >
          </td>
        </tr>
        <tr>
          <td> 
              <span>Total valor en pesos</span>
              <input class="pesos" type="number" name="cantidadCrito" disabled
              [(ngModel)]="valor2"
              >
              
          </td>
        </tr>
        <tr>
          <td> <a class="btn btn-dark btn-lg" routerLink="/usuario/billetera"> Volver </a></td>
          <td> <a class="btn btn-dark btn-lg" > Comprar </a></td>
        </tr>
      </table>
    </form>
  </div>
</div>
