<!-- foooter -->
<footer
  class="text-center text-lg-start text-white"
  style="background-color: #45526e">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            CryptoCAT
          </h6>
          <p>
            Es una página que te brinda una mejor forma de comprar, vender y comerciar con monedas virtuales.
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            En CryptoCAT te podemos brindar:
          </h6>
          <div class="columna-medio">
            <p>
              <a class="text-white">Precios actualizados</a>
            </p>
            <p>
              <a class="text-white">Soporte las 24 hs.</a>
            </p>
            <p>
              <a class="text-white">Los mejores precios</a>
            </p>
            <p>
              <a class="text-white">Seguridad y total discreción</a>
            </p>
          </div>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contactos</h6>
          <p><i class="fas fa-home mr-3"></i> Catamarca, Argentina, SFVC</p>
          <p><i class="fas fa-envelope mr-3"></i> Crypton_Cat_HELP@gmail.com</p>
          <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <fa-icon [icon]="icon" >
          </fa-icon>
          <a class="enlace-red-social" href="https://www.facebook.com" target="_blank">
            Facebook
          </a>
          
          <div>
            <fa-icon [icon]="icon2" >
            </fa-icon>
            <a class="enlace-red-social" href="https://www.Instagram.com" target="_blank">
              Instagram
            </a>
          </div>

          <div>
            <fa-icon [icon]="icon3" >
            </fa-icon>
            <a class="enlace-red-social" href="https://www.Twitter.com" target="_blank">
              Twitter
            </a>
          </div>
        </div>
          <!-- Grid column -->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="my-3">
    
    <!-- Section: Copyright -->
    <section class="p-3 pt-0">
      <div class="row d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8 text-center text-md-center">
          <!-- Copyright -->
          <div class="p-3">
            <span>© 2022 Copyright: </span>
            <a class="text-white">CryptoCAT</a>
          </div>
          <!-- Copyright -->
        </div>
        
        <!-- Grid column -->
      </div>
    </section>
    <!-- Section: Copyright -->
  </div>
  <!-- Grid container -->
</footer>
<!-- Footer -->