/* You can add global styles to this file, and also import other style files */
:root{
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
    --valid: #42A948;
    --invalid: #a94442;
}

@font-face {
    font-family: RopaSansRegular;
    src: url(assets/fonts/Ropa_Sans/RopaSans-Regular.ttf);
}

*{
    padding: 0px;
    margin: 0px;
    font-family: RopaSansRegular;
}

/* Scroll bar */
body::-webkit-scrollbar{
    width: 7px;
    background-color: #1C265E
}

body::-webkit-scrollbar-thumb{
    background-color: #0f2292;
    border-radius: 7px;
    border-right: 2px solid rgba(255, 255, 255, 0.1)
}
/* FIN Scroll bar */

main{
    background: rgb(7,4,65);
    /* background: linear-gradient(0deg, rgba(7,4,65,1) 2%, rgba(9,9,121,1) 22%, rgba(156,238,255,1) 94%); */
    position: relative;
    max-width: 100%;
    /* width: 100%;
    /* height: 100vh; */
    background: linear-gradient(#111425,#3751e0);
    background-attachment: fixed;
    overflow: hidden;
}

i{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
}