.Cotizzciones{
    margin: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin: 20px;
    margin-top: 25px;
    padding-top: 40px;
  }
  #img-carrusel{
      width: auto;
      height: auto;
      max-width: 600px;
      max-height: 300px;

  }