Footer
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
  
  
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Es una pagina creada con el fin de aprender Angular, seria el prototipo de una aplicacion de exchange de cryptos
        </p>
      </section>
      <!-- Section: Text -->
  
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright Catamarca Exchange
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  <footer>
    <div class="container my-5">


<!-- foooter n2 -->
      <footer
              class="text-center text-lg-start text-white"
              style="background-color: #45526e"
              >
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Links -->
          <section class="">
            <!--Grid row-->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                  CryptoCAT
                </h6>
                <p>
                  Es una página que te brinda una mejor forma de comprar, vender y comerciar con monedas virtuales.
                </p>
              </div>
              <!-- Grid column -->
    
              <hr class="w-100 clearfix d-md-none" />

              <hr class="w-100 clearfix d-md-none" />

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                  En CryptoCAT te podemos brindar:
                </h6>
                <div class="columna-medio">
                  <p>
                    <a class="text-white">Precios actualizados</a>
                  </p>
                  <p>
                    <a class="text-white">Soporte las 24 hs.</a>
                  </p>
                  <p>
                    <a class="text-white">Los mejores precios</a>
                  </p>
                  <p>
                    <a class="text-white">Seguridad y total discreción</a>
                  </p>
                </div>
              </div>
    
              <!-- Grid column -->
              <hr class="w-100 clearfix d-md-none" />
    
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                <p><i class="fas fa-home mr-3"></i> Catamarca, Argentina, SFVC</p>
                <p><i class="fas fa-envelope mr-3"></i> Crypton_Cat_HELP@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                <fa-icon [icon]="icon" >
                </fa-icon>
                <a class="enlace-red-social" href="https://www.facebook.com">
                  Facebook
                </a>
                
                <div>
                  <fa-icon [icon]="icon2" >
                  </fa-icon>
                  <a class="enlace-red-social" href="https://www.Instagram.com">
                    Instagram
                  </a>
                </div>

                <div>
                  <fa-icon [icon]="icon3" >
                  </fa-icon>
                  <a class="enlace-red-social" href="https://www.Twitter.com">
                    Twitter
                  </a>
                </div>

              </div>
              <!-- Grid column -->
            </div>
            <!--Grid row-->
          </section>
          <!-- Section: Links -->
    
          <hr class="my-3">
    
          <!-- Section: Copyright -->
          <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
              <!-- Grid column -->
              <div class="col-md-7 col-lg-8 text-center text-md-start">
                <!-- Copyright -->
                <div class="p-3">
                  © 2022 Copyright:
                  <a class="text-white" href="https://mdbootstrap.com/"
                    >CryptoCAT</a
                    >
                </div>
                <!-- Copyright -->
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                <!-- Facebook -->
                <a
                  class="btn btn-outline-light btn-floating m-1"
                  class="text-white"
                  role="button"
                  ><i class="fab fa-facebook-f"></i
                  ></a>
    
                <!-- Twitter -->
                <a
                  class="btn btn-outline-light btn-floating m-1"
                  class="text-white"
                  role="button"
                  ><i class="fab fa-twitter"></i
                  ></a>
    
                <!-- Google -->
                <a
                  class="btn btn-outline-light btn-floating m-1"
                  class="text-white"
                  role="button"
                  ><i class="fab fa-google"></i
                  ></a>
    
                <!-- Instagram -->
                <a
                  class="btn btn-outline-light btn-floating m-1"
                  class="text-white"
                  role="button"
                  ><i class="fab fa-instagram"></i
                  ></a>
              </div>
              <!-- Grid column -->
            </div>
          </section>
          <!-- Section: Copyright -->
        </div>
        <!-- Grid container -->
      </footer>
      <!-- Footer -->
    </div>
  </footer>