@media (min-width: 992px) {
    /* mueve el contenido del menu desplegable */
    div > li > ul{
        position: absolute;
        left: -13%; top: auto;
    }
    nav{
        height: 76px;
    }   
}
@media (max-width: 991px) {
    .navbar-toggler{
        right: 10px;
        position: relative;
        width: 70px;
        height: 60px;
        background: #212529;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    .navbar-toggler span{
        position: absolute;
        width: 40px;
        height: 4px;
        background: #2E8B57;
        border-radius: 4px;
        transition: 0.5s;
    }
    
    .navbar-toggler span:nth-child(1){
        transform: translateY(-15px);
        width: 25px;
        left: 14px
    }
    .navbar-toggler span:nth-child(2){
        transform: translateY(15px);
        width: 15px;
        left: 14px
    }
    
    /* menu desplegado */
    .navbar-toggler[aria-expanded="true"] span:nth-child(3){
        transform: translateX(60px);
        /* background: red; */
    }
    .navbar-toggler[aria-expanded="true"] span:nth-child(1){
        width: 40px;
        transform: translateY(0px) rotate(45deg);
    }
    .navbar-toggler[aria-expanded="true"] span:nth-child(2){
        width: 40px;
        transform: translateY(0px) rotate(315deg);
    }
    /* fin menu desplegado */
}