<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand text-white me-auto" routerLink="/home">
        <!-- <img src="../assets/img/gatodinero.png" height="40px"> -->
        <span class="m-3">
            <fa-icon class="fa-spin" [icon]="faCat" 
                [pulse]="true" 
                transform="grow-10 rotate-20">
            </fa-icon>
        </span>
        CryptoCAT
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav floar-lg-right px-3 ms-auto">
            <li class="navbar-item">
                <a href="#" class="nav-link" routerLink="/home">Inicio</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="nav-link" routerLink="/registro">Registrar</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="nav-link" routerLink="/login">Iniciar sesión</a>
            </li>
            <div class="d-flex">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ¿Quienes somos?
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">MenuDesplegable1</a></li>
                        <li><a class="dropdown-item" href="#">MenuDesplegable2</a></li>
                        <li><a class="dropdown-item" href="#">MenuDesplegable3</a></li>
                    </ul>
                </li>
            </div>
        </ul>
    </div>
</nav>